/* --- IMPORTS --- */
@import url("https://fonts.googleapis.com/css?family=Nunito:200,600,800,900");
/* --- VARIABLES --- */
/* --- MIXINGS --- */
/* --- NORMALIZE --- */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

/* --- BASE --- */
.nav {
  width: 300px;
  height: 100%;
  background: #2f373c;
  position: absolute; }
  .nav .nav-title {
    height: 120px;
    width: 100%;
    overflow: hidden;
    border-bottom: 2px solid #FFFFFF;
    background: #0077cc;
    border-color: #1E1E1E; }
    .nav .nav-title .nav-avatar {
      width: 80px;
      height: 80px;
      margin: 20px 0 0 20px;
      display: inline-block;
      background: white;
      border-radius: 50px; }
    .nav .nav-title .nav-info {
      margin-left: 5px;
      display: inline-block;
      vertical-align: top;
      height: 120px;
      width: 190px; }
      .nav .nav-title .nav-info .nav-info-name {
        height: 50%;
        vertical-align: bottom;
        position: relative;
        font-family: "Nunito";
        font-weight: 900;
        font-size: 19px;
        color: white;
        letter-spacing: .3px; }
        .nav .nav-title .nav-info .nav-info-name span {
          position: absolute;
          bottom: 0;
          left: 0; }
      .nav .nav-title .nav-info .nav-info-position {
        height: 50%;
        font-family: "Nunito";
        font-weight: 200;
        font-size: 14px;
        font-style: italic;
        color: white; }
  .nav .nav-links {
    margin-top: 25px; }
    .nav .nav-links .nav-link {
      height: 50px;
      line-height: 53px;
      padding-left: 40px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
      font-family: "Nunito";
      font-weight: 800;
      font-size: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #e0e6eb;
      background: #2f373c;
      transition: all 0.3s; }
      .nav .nav-links .nav-link:hover {
        cursor: pointer;
        background: #242a2e; }
      .nav .nav-links .nav-link.selected {
        background: #191d1f; }

.body {
  display: flex;
  flex-flow: column;
  height: 100%;
  position: absolute;
  background: #DDDDDD;
  transition: all 0.3s; }
  .body.full {
    left: 0px;
    width: 100%; }
  .body.small {
    left: 300px;
    width: calc(100% - 300px); }
  .body .body-header {
    flex: 0 1 116px;
    width: auto;
    line-height: 116px;
    padding-left: 60px;
    border-bottom: 2px solid #FFFFFF;
    font-family: "Nunito";
    font-weight: 900;
    font-size: 40px;
    color: #2f373c;
    border-color: #B2B2B2;
    background: #F2F2F2; }
    .body .body-header span {
      margin-right: 50px;
      padding: 0 10px;
      font-size: 30px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
      transition: all 0.3s; }
      .body .body-header span:hover {
        color: black;
        cursor: pointer; }
  .body .body-content {
    flex: 1 1 auto;
    padding: 20px;
    display: flex; }
    .body .body-content .login {
      display: flex;
      justify-content: center;
      width: 100%; }
      .body .body-content .login .login-container {
        align-self: center;
        background: #F2F2F2;
        padding: 15px; }
        .body .body-content .login .login-container .title {
          margin: 0 0 25px 0;
          height: 50px;
          line-height: 40px; }
        .body .body-content .login .login-container input[type=text], .body .body-content .login .login-container input[type=password] {
          width: 300px;
          height: 38px;
          margin-bottom: 10px;
          padding: 8px 16px;
          font-family: "Nunito";
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          border: 1px solid #2f373c; }
          .body .body-content .login .login-container input[type=text]:focus, .body .body-content .login .login-container input[type=password]:focus {
            outline: none; }
        .body .body-content .login .login-container button {
          height: 38px;
          padding: 8px 16px;
          width: auto;
          transition: all 0.3s;
          cursor: pointer;
          font-family: "Nunito";
          font-weight: 600;
          font-size: 14px;
          margin-top: 15px; }
          .body .body-content .login .login-container button.back {
            float: left;
            background: #2f373c;
            color: white;
            border: 1px solid #2f373c; }
            .body .body-content .login .login-container button.back:hover {
              background: #242a2e; }
            .body .body-content .login .login-container button.back:active {
              background: #191d1f; }
          .body .body-content .login .login-container button.login {
            float: right;
            background: #0077cc;
            color: white;
            border: 1px solid #0077cc; }
            .body .body-content .login .login-container button.login:hover {
              background: #0068b3; }
            .body .body-content .login .login-container button.login:active {
              background: #005999; }
          .body .body-content .login .login-container button:focus {
            outline: none; }
    .body .body-content .title {
      margin-left: 30px;
      margin-right: 30px;
      border-bottom: 2px solid #2f373c;
      color: #2f373c;
      height: 80px;
      line-height: 80px;
      padding-left: 15px;
      font-family: "Nunito";
      font-weight: 800;
      font-size: 20px;
      flex: 0 1 80px; }
    .body .body-content .body-list {
      flex: 1;
      margin: 20px;
      background: #F2F2F2;
      display: flex;
      flex-flow: column; }
      .body .body-content .body-list .list-links {
        flex: 1 1 auto;
        margin: 30px;
        overflow-y: auto; }
        .body .body-content .body-list .list-links::-webkit-scrollbar {
          width: 12px; }
        .body .body-content .body-list .list-links::-webkit-scrollbar-track {
          background: rgba(0, 0, 0, 0); }
        .body .body-content .body-list .list-links::-webkit-scrollbar-thumb {
          background: #2f373c; }
        .body .body-content .body-list .list-links .list-link {
          padding-left: 20px;
          font-family: "Nunito";
          font-weight: 800;
          font-size: 15px;
          height: 50px;
          line-height: 50px;
          color: #2f373c;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          -o-user-select: none;
          user-select: none;
          transition: all 0.3s; }
          .body .body-content .body-list .list-links .list-link:hover {
            background: #BFBFBF;
            cursor: pointer; }
          .body .body-content .body-list .list-links .list-link.selected {
            background: #a6a6a6; }
          .body .body-content .body-list .list-links .list-link.create {
            border: 2px dashed #2f373c;
            text-align: center;
            padding: 0; }
            .body .body-content .body-list .list-links .list-link.create:hover {
              background: white; }
            .body .body-content .body-list .list-links .list-link.create:before {
              content: "+";
              font-family: "Nunito";
              font-size: 26px;
              font-weight: 800;
              transition: all 0.3s; }
    .body .body-content .body-tab {
      flex: 2;
      margin: 20px;
      background: #F2F2F2;
      display: flex;
      flex-flow: column; }
      .body .body-content .body-tab .tab-items {
        flex: 1 1 auto;
        margin: 30px;
        overflow-y: auto; }
        .body .body-content .body-tab .tab-items::-webkit-scrollbar {
          width: 12px; }
        .body .body-content .body-tab .tab-items::-webkit-scrollbar-track {
          background: rgba(0, 0, 0, 0); }
        .body .body-content .body-tab .tab-items::-webkit-scrollbar-thumb {
          background: #2f373c; }
        .body .body-content .body-tab .tab-items .tab-item {
          padding: 5px 0;
          margin: 0 10px;
          border-bottom: 1px solid #BFBFBF;
          font-family: "Nunito";
          font-weight: 600;
          font-size: 14px;
          min-height: 40px;
          line-height: 40px;
          color: #2f373c;
          display: flex; }
          .body .body-content .body-tab .tab-items .tab-item .item-key {
            width: 40%;
            float: left; }
          .body .body-content .body-tab .tab-items .tab-item .item-value {
            width: 60%;
            float: left; }
            .body .body-content .body-tab .tab-items .tab-item .item-value .checkbox {
              width: 60px;
              height: 30px;
              position: relative;
              margin-top: 5px; }
              .body .body-content .body-tab .tab-items .tab-item .item-value .checkbox div {
                background: #e9513a;
                position: relative;
                width: 100%;
                height: 30px;
                top: -19px; }
              .body .body-content .body-tab .tab-items .tab-item .item-value .checkbox input[type=checkbox] {
                visibility: hidden; }
                .body .body-content .body-tab .tab-items .tab-item .item-value .checkbox input[type=checkbox]:checked ~ label {
                  left: 35px; }
                .body .body-content .body-tab .tab-items .tab-item .item-value .checkbox input[type=checkbox]:checked ~ div {
                  background: #2fca6c; }
              .body .body-content .body-tab .tab-items .tab-item .item-value .checkbox label {
                display: block;
                width: 20px;
                height: 20px;
                background: white;
                transition: all 0.3s;
                cursor: pointer;
                position: absolute;
                top: 5;
                z-index: 1;
                left: 5px; }
            .body .body-content .body-tab .tab-items .tab-item .item-value .range {
              margin-top: 5px; }
              .body .body-content .body-tab .tab-items .tab-item .item-value .range input[type=range] {
                -webkit-appearance: none;
                -moz-appearance: none;
                -ms-appearance: none;
                -o-appearance: none;
                appearance: none;
                width: 100%;
                padding: 0 5px;
                height: 30px;
                background: #2f373c;
                margin: 0; }
                .body .body-content .body-tab .tab-items .tab-item .item-value .range input[type=range]:focus {
                  outline: none; }
                .body .body-content .body-tab .tab-items .tab-item .item-value .range input[type=range]::-moz-slider-thumb {
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  -ms-appearance: none;
                  -o-appearance: none;
                  appearance: none;
                  height: 20px;
                  width: 20px;
                  background: white;
                  cursor: pointer; }
                .body .body-content .body-tab .tab-items .tab-item .item-value .range input[type=range]::-webkit-slider-thumb {
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  -ms-appearance: none;
                  -o-appearance: none;
                  appearance: none;
                  height: 20px;
                  width: 20px;
                  background: white;
                  cursor: pointer; }
                .body .body-content .body-tab .tab-items .tab-item .item-value .range input[type=range]::-o-slider-thumb {
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  -ms-appearance: none;
                  -o-appearance: none;
                  appearance: none;
                  height: 20px;
                  width: 20px;
                  background: white;
                  cursor: pointer; }
                .body .body-content .body-tab .tab-items .tab-item .item-value .range input[type=range]::-ms-slider-thumb {
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  -ms-appearance: none;
                  -o-appearance: none;
                  appearance: none;
                  height: 20px;
                  width: 20px;
                  background: white;
                  cursor: pointer; }
                .body .body-content .body-tab .tab-items .tab-item .item-value .range input[type=range]::slider-thumb {
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  -ms-appearance: none;
                  -o-appearance: none;
                  appearance: none;
                  height: 20px;
                  width: 20px;
                  background: white;
                  cursor: pointer; }
            .body .body-content .body-tab .tab-items .tab-item .item-value .text {
              margin-top: 5px; }
              .body .body-content .body-tab .tab-items .tab-item .item-value .text input[type=text] {
                width: 100%;
                height: 30px;
                border: 1px solid #2f373c;
                background: white;
                padding: 4px 8px;
                font-family: "Nunito";
                font-weight: 600;
                font-size: 13px;
                line-height: 20px; }
                .body .body-content .body-tab .tab-items .tab-item .item-value .text input[type=text]:focus {
                  outline: none; }
            .body .body-content .body-tab .tab-items .tab-item .item-value .textarea {
              margin: 5px 0; }
              .body .body-content .body-tab .tab-items .tab-item .item-value .textarea textarea {
                width: 100%;
                resize: vertical;
                border: 1px solid #2f373c;
                padding: 4px 8px;
                font-family: "Nunito";
                font-weight: 600;
                font-size: 13px;
                background: white;
                min-height: 30px;
                height: 46px;
                max-height: 250px; }
                .body .body-content .body-tab .tab-items .tab-item .item-value .textarea textarea:focus {
                  outline: none; }
            .body .body-content .body-tab .tab-items .tab-item .item-value .number {
              margin-top: 5px; }
              .body .body-content .body-tab .tab-items .tab-item .item-value .number input[type=number] {
                width: 100%;
                height: 30px;
                border: 1px solid #2f373c;
                background: white;
                padding: 4px 8px;
                font-family: "Nunito";
                font-weight: 600;
                font-size: 13px;
                line-height: 20px; }
                .body .body-content .body-tab .tab-items .tab-item .item-value .number input[type=number]:focus {
                  outline: none; }
            .body .body-content .body-tab .tab-items .tab-item .item-value .noinput {
              margin: 5px 0;
              line-height: 16px;
              font-family: "Nunito";
              font-weight: 600;
              font-size: 13px;
              line-height: 20px; }
            .body .body-content .body-tab .tab-items .tab-item .item-value .images {
              display: flex;
              margin: 5px 0 -5px 0;
              flex-wrap: wrap; }
            .body .body-content .body-tab .tab-items .tab-item .item-value .image {
              flex: 0 0 120px;
              width: 120px;
              height: 68px;
              margin-right: 10px;
              margin-bottom: 10px;
              text-align: center; }
              .body .body-content .body-tab .tab-items .tab-item .item-value .image span {
                transition: all 0.3s;
                background: rgba(255, 255, 255, 0);
                cursor: hand;
                width: 120px;
                height: 68px;
                display: block;
                line-height: 65px; }
                .body .body-content .body-tab .tab-items .tab-item .item-value .image span:hover {
                  background: white; }
                .body .body-content .body-tab .tab-items .tab-item .item-value .image span:before {
                  font-family: "Nunito";
                  font-size: 26px;
                  font-weight: 800;
                  transition: all 0.3s; }
              .body .body-content .body-tab .tab-items .tab-item .item-value .image.new {
                border: 2px dashed #2f373c;
                height: 64px; }
                .body .body-content .body-tab .tab-items .tab-item .item-value .image.new span {
                  height: 64px; }
                  .body .body-content .body-tab .tab-items .tab-item .item-value .image.new span:before {
                    content: "+"; }
              .body .body-content .body-tab .tab-items .tab-item .item-value .image.remove span:hover:before {
                content: "-";
                color: #e9513a; }
            .body .body-content .body-tab .tab-items .tab-item .item-value .dropdown {
              position: relative;
              width: 100%;
              height: 30px;
              margin-top: 5px; }
              .body .body-content .body-tab .tab-items .tab-item .item-value .dropdown select {
                background: white;
                color: #2f373c;
                font-family: "Nunito";
                font-weight: 600;
                font-size: 13px;
                padding: 4px 8px;
                height: 30px;
                margin: 0;
                text-indent: 0.01px;
                text-overflow: '';
                -webkit-appearance: none;
                width: 100%;
                border: 1px solid #2f373c;
                cursor: pointer; }
                .body .body-content .body-tab .tab-items .tab-item .item-value .dropdown select option {
                  font-weight: 600;
                  font-size: 12px;
                  padding: 4px 8px; }
                .body .body-content .body-tab .tab-items .tab-item .item-value .dropdown select:focus {
                  outline: none; }
              .body .body-content .body-tab .tab-items .tab-item .item-value .dropdown:before {
                content: "";
                position: absolute;
                pointer-events: none;
                width: 30px;
                height: 30px;
                right: 0;
                top: 0;
                bottom: 0;
                background: #2f373c; }
              .body .body-content .body-tab .tab-items .tab-item .item-value .dropdown:after {
                content: "\25BC";
                position: absolute;
                pointer-events: none;
                height: 30px;
                font-size: 10px;
                line-height: 2px;
                right: 10px;
                top: 50%;
                color: white; }
          .body .body-content .body-tab .tab-items .tab-item:last-child {
            border-bottom: none; }
      .body .body-content .body-tab .tab-actions {
        flex: 0 1 40px;
        margin: 0 30px 30px; }
        .body .body-content .body-tab .tab-actions .button {
          float: right;
          margin-left: 10px;
          padding: 8px 16px;
          border: 1px solid grey;
          background: white;
          height: 34px;
          font-family: "Nunito";
          font-weight: 600;
          font-size: 14px;
          transition: all 0.3s;
          letter-spacing: .2px; }
          .body .body-content .body-tab .tab-actions .button.primary {
            background: #0077cc;
            color: white;
            border: 1px solid #0077cc; }
            .body .body-content .body-tab .tab-actions .button.primary:hover {
              background: #0068b3; }
            .body .body-content .body-tab .tab-actions .button.primary:active {
              background: #005999; }
          .body .body-content .body-tab .tab-actions .button.secondary {
            background: #2f373c;
            color: white;
            border: 1px solid #2f373c; }
            .body .body-content .body-tab .tab-actions .button.secondary:hover {
              background: #242a2e; }
            .body .body-content .body-tab .tab-actions .button.secondary:active {
              background: #191d1f; }
          .body .body-content .body-tab .tab-actions .button:focus {
            outline: none; }
          .body .body-content .body-tab .tab-actions .button:hover {
            cursor: pointer; }

/*# sourceMappingURL=styles.css.map */
