/* --- IMPORTS --- */
@import url('https://fonts.googleapis.com/css?family=Nunito:200,600,800,900');


/* --- VARIABLES --- */
$font-family: "Nunito";
$font-black: 900;
$font-bold: 800;
$font-thin: 200;
$font-regular: 600;
$color: 205deg;
$primary-color: hsl($color, 100%, 40%);
$primary-text: hsl(0deg, 0%, 100%);
$secondary-color: hsl($color, 12%, 21%);
$secondary-text: hsl($color, 20%, 90%);
$transition-time: 0.3s;
$prefixes: ("-moz-", "-webkit-", "-o-", "-ms-", "");


/* --- MIXINGS --- */
@mixin non-selectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

@mixin scrollbar {
	&::-webkit-scrollbar {
		width: 12px;
	}

	&::-webkit-scrollbar-track {
		background: rgba(0, 0, 0, 0);
	}
		 
	&::-webkit-scrollbar-thumb {
		background: #2f373c;
	}
}

@mixin pseudo-element($element) {
	@each $prefix in $prefixes {
        &::#{$prefix}#{$element} {
            @content;
        }
    }
}

@mixin no-appearance {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}


/* --- NORMALIZE --- */
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}


/* --- BASE --- */
.nav {
	width: 300px; 
	height: 100%;
	background: $secondary-color;
	position: absolute;

	.nav-title {
		height: 120px;
		width: 100%;
		overflow: hidden;
		border-bottom: 2px solid #FFFFFF;

		background: $primary-color;
		border-color: #1E1E1E;

		.nav-avatar {
			width: 80px;
			height: 80px;
			margin: 20px 0 0 20px;
			display: inline-block;

			background: white;
			border-radius: 50px;
		}

		.nav-info {
			margin-left: 5px;
			display: inline-block;
			vertical-align: top;
			height: 120px;
			width: 190px;

			.nav-info-name {
				height: 50%;
				vertical-align: bottom;
				position: relative;

				font-family: $font-family;
				font-weight: $font-black;
				font-size: 19px;
				color: $primary-text;
				letter-spacing: .3px;

				span {
					position: absolute;
					bottom: 0;
					left: 0;
				}
			}

			.nav-info-position {
				height: 50%;

				font-family: $font-family;
				font-weight: $font-thin;
				font-size: 14px;
				font-style: italic;
				color: $primary-text;
			}
		}
	}

	.nav-links {
		margin-top: 25px;

		.nav-link {
			height: 50px;
			line-height: 53px;
			padding-left: 40px;
			@include non-selectable;

			font-family: $font-family;
			font-weight: $font-bold;
			font-size: 14px;
			letter-spacing: 1px;
			text-transform: uppercase;
			color: $secondary-text;
			background: $secondary-color;
			transition: all $transition-time;

			&:hover {
				cursor: pointer;
				background: darken($secondary-color, 5%);
			}

			&.selected {
				background: darken($secondary-color, 10%);
			}
		}
	}
}

.body {
	display: flex;
	flex-flow: column;
	height: 100%;
	position: absolute;
	background: #DDDDDD;
	transition: all $transition-time; 

	&.full {
		left: 0px;
		width: 100%;
	}

	&.small {
		left: 300px;
		width: calc(100% - 300px);
	}

	.body-header {
		flex: 0 1 116px;
		width: auto;
		line-height: 116px;
		padding-left: 60px;
		border-bottom: 2px solid #FFFFFF;

		font-family: $font-family;
		font-weight: $font-black;
		font-size: 40px;
		color: $secondary-color;
		border-color: #B2B2B2;

		background: #F2F2F2;

		span {
			margin-right: 50px;
			padding: 0 10px;
			font-size: 30px;
			@include non-selectable;
			transition: all $transition-time;

			&:hover {
				color: black;
				cursor: pointer;
			}
		}
	}

	.body-content {
		flex: 1 1 auto;
		padding: 20px;
		display: flex;

		.login {
			display: flex;
			justify-content: center;
			width: 100%;

			.login-container {
				align-self: center;
				background: #F2F2F2;
				padding: 15px;

				.title {
					margin: 0 0 25px 0;
					height: 50px;
					line-height: 40px;
				}

				input[type=text], input[type=password] {
					width: 300px;
					height: 38px;
					margin-bottom: 10px;
					padding: 8px 16px;
					font-family: $font-family;
					font-weight: $font-regular;
					font-size: 14px;
					line-height: 20px;
					border: 1px solid $secondary-color;

					&:focus {
						outline: none; 
					}
				}

				button {
					height: 38px;
					padding: 8px 16px;
					width: auto;
					transition: all $transition-time;
					cursor: pointer;
					font-family: $font-family;
					font-weight: $font-regular;
					font-size: 14px;
					margin-top: 15px;

					&.back {
						float: left;
						background: $secondary-color;
						color: white;
						border: 1px solid $secondary-color;

						&:hover {
							background: darken($secondary-color, 5%);
						}

						&:active {
							background: darken($secondary-color, 10%);
						}
					}

					&.login {
						float: right;
						background: $primary-color;
						color: white;
						border: 1px solid $primary-color;

						&:hover {
							background: darken($primary-color, 5%);
						}

						&:active {
							background: darken($primary-color, 10%);
						}
					}

					&:focus {
						outline: none; 
					}
				}
			}
		}

		.title {
			margin-left: 30px;
			margin-right: 30px;
			border-bottom: 2px solid $secondary-color;
			color: $secondary-color;
			height: 80px;
			line-height: 80px;
			padding-left: 15px; 
			font-family: $font-family;
			font-weight: $font-bold;
			font-size: 20px;
			flex: 0 1 80px;
		}

		.body-list {
			flex: 1;
			margin: 20px;
			background: #F2F2F2;
			display: flex;
			flex-flow: column;
			
			.list-links {
				flex: 1 1 auto;
				margin: 30px;
				overflow-y: auto;
				@include scrollbar;

				.list-link {
					padding-left: 20px; 
					font-family: $font-family;
					font-weight: $font-bold;
					font-size: 15px;
					height: 50px;
					line-height: 50px;
					color: $secondary-color;
					@include non-selectable;
					transition: all $transition-time;

					&:hover {
						background: #BFBFBF;
						cursor: pointer;
					}

					&.selected {
						background: darken(#BFBFBF, 10%);
					}

					&.create {
						border: 2px dashed $secondary-color;
						text-align: center;
						padding: 0;

						&:hover {
							background: white;
						}

						&:before {
							content: "+";
							font-family: $font-family;
							font-size: 26px;
							font-weight: $font-bold;
							transition: all $transition-time;
						}
					}
				}
			}
		}

		.body-tab {
			flex: 2;
			margin: 20px;
			background: #F2F2F2;
			display: flex;
			flex-flow: column;

			.tab-items {
				flex: 1 1 auto;
				margin: 30px;
				overflow-y: auto;
				@include scrollbar;

				.tab-item {
					padding: 5px 0;
					margin: 0 10px;
					border-bottom: 1px solid #BFBFBF;
					font-family: $font-family;
					font-weight: $font-regular;
					font-size: 14px;
					min-height: 40px;
					line-height: 40px;
					color: $secondary-color;
					display: flex;

					.item-key {
						width: 40%;
						float: left;
					}

					.item-value {
						width: 60%;
						float: left;

						.checkbox {
							width: 60px;
							height: 30px;
							position: relative;
							margin-top: 5px;

							div {
								background: #e9513a;
								position: relative;
								width: 100%;
								height: 30px;
								top: -19px;
							}

							input[type=checkbox] {
								visibility: hidden;

								&:checked {
									~ label {
										left: 35px;
									}

									~ div {
										background: #2fca6c;
									}
								}
							}

							label {
								display: block;
								width: 20px;
								height: 20px;
								background: white;
								transition: all $transition-time;
								cursor: pointer;
								position: absolute;
								top: 5;
								z-index: 1;
								left: 5px;
							}
						}

						.range {
							margin-top: 5px;

							input[type=range] {
								@include no-appearance;

								width: 100%;
								padding: 0 5px;
								height: 30px;
								background: $secondary-color;
								margin: 0;

								&:focus {
									outline: none;
								}

								@include pseudo-element("slider-thumb") {
									@include no-appearance;

									height: 20px;
									width: 20px;
									background: white;
									cursor: pointer;
								}
							}
						}

						.text {
							margin-top: 5px;

							input[type=text] {
								width: 100%;
								height: 30px;
								border: 1px solid $secondary-color;
								background: white;
								padding: 4px 8px;
								font-family: $font-family;
								font-weight: $font-regular;
								font-size: 13px;
								line-height: 20px;

								&:focus {
									outline: none;
								}
							}
						}

						.textarea {
							margin: 5px 0;

							textarea {
								width: 100%;
								resize: vertical;
								border: 1px solid $secondary-color;
								padding: 4px 8px;
								font-family: $font-family;
								font-weight: $font-regular;
								font-size: 13px;
								background: white;
								min-height: 30px;
								height: 46px;
								max-height: 250px;

								&:focus {
									outline: none;
								}
							}
						}

						.number {
							margin-top: 5px;

							input[type=number] {
								width: 100%;
								height: 30px;
								border: 1px solid $secondary-color;
								background: white;
								padding: 4px 8px;
								font-family: $font-family;
								font-weight: $font-regular;
								font-size: 13px;
								line-height: 20px;

								&:focus {
									outline: none;
								}
							}
						}

						.noinput {
							margin: 5px 0;
							line-height: 16px;
							font-family: $font-family;
							font-weight: $font-regular;
							font-size: 13px;
							line-height: 20px;
						}

						.images {
							display: flex;
							margin: 5px 0 -5px 0;
							flex-wrap: wrap;
						}

						.image {
							flex: 0 0 120px;
							width: 120px;
							height: 68px;
							margin-right: 10px;
							margin-bottom: 10px;
							text-align: center;

							span {
								transition: all $transition-time;
								background: rgba(255, 255, 255, 0);
								cursor: hand;
								width: 120px;
								height: 68px;
								display: block;
								line-height: 65px;

								&:hover {
									background: rgba(255, 255, 255, 1);
								}

								&:before {
									font-family: $font-family;
									font-size: 26px;
									font-weight: $font-bold;
									transition: all $transition-time;
								}
							}

							&.new {
								border: 2px dashed $secondary-color;
								height: 64px;

								span {
									height: 64px;

									&:before {
										content: "+";
									}
								}
							}

							&.remove {
								span {
									&:hover:before {
										content: "-";
										color: #e9513a;
									}
								}
							}
						}

						.dropdown {
							position: relative;
							width: 100%;
							height: 30px;
							margin-top: 5px;

							select {
								background: white;
								color: $secondary-color;
								font-family: $font-family;
								font-weight: $font-regular;
								font-size: 13px;
								padding: 4px 8px;
								height: 30px;
								margin: 0;
								text-indent: 0.01px;
								text-overflow: '';
								-webkit-appearance: none;
								width: 100%;
								border: 1px solid $secondary-color;
								cursor: pointer;

								option {
									font-weight: $font-regular;
									font-size: 12px;
									padding: 4px 8px;
								}

								&:focus {
									outline: none;
								}
							}

							&:before {
								content: "";
								position: absolute;
								pointer-events: none;
								width: 30px;
								height: 30px;
								right: 0;
								top: 0;
								bottom: 0;
								background: $secondary-color;
							}

							&:after {
								content: "\25BC";
								position: absolute;
								pointer-events: none;
								height: 30px;
								font-size: 10px;
								line-height: 2px;
								right: 10px;
								top: 50%;
								color: white;
							}
						}
					}

					&:last-child {
						border-bottom: none;
					}
				}
			}

			.tab-actions {
				flex: 0 1 40px;
				margin: 0 30px 30px;

				.button {
					float: right;
					margin-left: 10px;
					padding: 8px 16px; 
					border: 1px solid grey;
					background: white;
					height: 34px;
					font-family: $font-family;
					font-weight: $font-regular;
					font-size: 14px;
					transition: all $transition-time;
					letter-spacing: .2px;

					&.primary {
						background: $primary-color;
						color: $primary-text;
						border: 1px solid $primary-color;

						&:hover {
							background: darken($primary-color, 5%);
						}

						&:active {
							background: darken($primary-color, 10%);
						}
					}

					&.secondary {
						background: $secondary-color;
						color: $primary-text;
						border: 1px solid $secondary-color;

						&:hover {
							background: darken($secondary-color, 5%);
						}

						&:active {
							background: darken($secondary-color, 10%);
						}
					}

					&:focus {
						outline: none;
					}

					&:hover {
						cursor: pointer;
					}

					
				}
			}
		}
	}
}